<section class="page-content">

	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1>Welcome {{loggedInUser.username}}!</h1>
			</div>
			<div class="col-md-2">
				<p>
					<a href="#" class="btn btn-info btn-lg" ng-click="logout()">
						<span class="glyphicon glyphicon-log-out"></span> Log out
					</a>
				</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<form name="todoForm" ng-submit="addNotes() && todoForm.$valid">
				<div class="col-xs-3">
					<input type="text" class="form-control" placeholder="Subject Goes here" ng-model="noteFormData.subject"
						   required/>
				</div>
				<div class="col-xs-7">
					<textarea type="text" class="form-control" placeholder="Body Goes here" ng-model="noteFormData.body"
						   required/>
				</div>

				<div class="col-xs-2">
					<button class="btn btn-primar	y" type="submit">&nbsp;Add&nbsp;</button>
					<button class="btn btn-default" type="reset">Reset</button>
				</div>
			</form>
		</div>
		</div>
	<hr/>
	<div class="row">
		<div class="col-md-1"></div>
	<div class="table-responsive mailbox-messages col-md-10">
		<table class="table table-hover table-striped">
			<thead class="alert alert-info">
			<tr>
				<th>Subject</th>
				<th>Body</th>
				<th>Version</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="note in notesDataArray">
				<td class="mailbox-name"><b>{{note.subject}}</b></td>
				<td class="mailbox-subject" style="width:50%">
					<div  ng-hide="editorEnabled && checkEditId==note.id"  ng-click="enableEditor(note)"><div class="wrap-text">{{note.body}}</div><i class="fa fa-pencil fa-lg" style="color:blue" aria-hidden="true" ng-click="enableEditor(note)"></i>
					</div>
					<div ng-show="editorEnabled && checkEditId==note.id">
						<textarea class="form-control" ng-model="note.body" ng-show="editorEnabled" rows="2" cols="60"/>
						<a href="#" ng-click="save(note)">Save</a>
						or
						<a href="#" ng-click="disableEditor()">Cancel</a>
					</div>
				</td>
				<td class="mailbox-date"><span class="badge">{{note.version}}</span></td>

				<td><i class="fa fa-trash fa-lg" style="color:red" aria-hidden="true" ng-click="deleteNotes(note.id)"></i></td>

			</tr>

			</tbody>
		</table><!-- /.table -->
	</div>
		<div class="col-md-1"></div>
	</div><!-- /.mail-box-messages -->

</section>